/* Importa as diretivas base do Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Definir uma fonte base e cor de fundo */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}